canvas {
  margin: auto;
}
.artwork {
  width: 400px;
  height: 568px;
  overflow: hidden;
}

.intro {
  width: 300px;
  height: 568px;
  overflow: hidden;
}
div.animation {
  width: 400px;
  height: 667px;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

div.btn {
  padding-top: 100px;
  text-align: center;
  width: 100%;
}
