<!-- <div class="animation">
  <canvas #cardArtwork width="0" height="0"></canvas>



  <audio #audio id="ost">
    <source src="bgm/bgm_172.wav" type="audio/mpeg" />
  </audio> -->
<!-- <canvas #cardIntro width="0" height="0"></canvas> -->
<!-- </div> -->
<!-- <div class="btn">
  <button (click)="playAnimation()">Jouer l'intro</button>
  <button (click)="playAnimation()">Jouer l'active skill</button>
</div> -->
<!-- <ngx-spinner name="loader" template="<img src='./header-logo.gif' width='150px' />"></ngx-spinner> -->
<app-header />
<router-outlet />