<nav>
    <div class="logo">
        <div class="logo-img">
            <img src="db.png" alt="">
            <img class="headphone" src="headphone.jpg" alt="">
        </div>

        <h1>Dokkan OST</h1>
    </div>
    <span (click)="openMenu()">| | |</span>
    <ul class="desktop">
        <li routerLink="/">
            Home
        </li>
        <li routerLink="/cards">Cards</li>
        <li>Events</li>
    </ul>
    @if (isMenuClosed()) {
    <ul class="mobile">
        <p (click)="closeMenu()">X</p>
        <li>
            Home
        </li>
        <li>Cards</li>
        <li>Events</li>
    </ul>

    }
</nav>